/* CSS Document */
.headerDate {FONT: 9px Verdana; COLOR: #ffffff;}

.footernew {FONT:bold 10px Verdana; COLOR: #333333; line-height: 12px;}
a.footernew:link {FONT:bold 10px Verdana; COLOR: #333333; line-height: 12px; TEXT-DECORATION: none;}
a.footernew:visited {FONT:bold 10px Verdana; COLOR: #333333; line-height: 12px; TEXT-DECORATION: none;}
a.footernew:hover {FONT:bold 10px Verdana; COLOR: #333333; line-height: 12px; TEXT-DECORATION: underline;}
a.footernew:active {FONT:bold 10px Verdana; COLOR: #333333; line-height: 12px; TEXT-DECORATION: none;}

.footerWhite {FONT:bold 10px Verdana; COLOR: #ffffff; BACKGROUND-COLOR: #001f56; line-height: 20px;}
a.footerWhite:link {FONT:bold 10px Verdana; COLOR: #ffffff; BACKGROUND-COLOR: #001f56; line-height: 20px; TEXT-DECORATION: none;}
a.footerWhite:visited {FONT:bold 10px Verdana; COLOR: #ffffff; BACKGROUND-COLOR: #001f56; line-height: 20px; TEXT-DECORATION: none;}
a.footerWhite:hover {FONT:bold 10px Verdana; COLOR: #ffffff; BACKGROUND-COLOR: #001f56; line-height: 20px; TEXT-DECORATION: underline;}
a.footerWhite:active {FONT:bold 10px Verdana; COLOR: #ffffff; BACKGROUND-COLOR: #001f56; line-height: 20px; TEXT-DECORATION: none;}

.headerWhite02 {FONT:bold 9px Verdana; COLOR: #ffffff; line-height: 20px;}
a.headerWhite02:link {FONT:bold 9px Verdana; COLOR: #ffffff; line-height: 20px; TEXT-DECORATION: underline;}
a.headerWhite02:visited {FONT:bold 9px Verdana; COLOR: #ffffff; line-height: 20px; TEXT-DECORATION: underline;}
a.headerWhite02:hover {FONT:bold 9px Verdana; COLOR: #CCCBCB; line-height: 20px; TEXT-DECORATION: underline;}
a.headerWhite02:active {FONT:bold 9px Verdana; COLOR: #ffffff; Bline-height: 20px; TEXT-DECORATION: underline;}

.headerWhite {FONT:bold 10px Verdana; COLOR: #ffffff; line-height: 20px;}
a.headerWhite:link {FONT:bold 10px Verdana; COLOR: #ffffff; line-height: 20px; TEXT-DECORATION: underline;}
a.headerWhite:visited {FONT:bold 10px Verdana; COLOR: #ffffff; line-height: 20px; TEXT-DECORATION: underline;}
a.headerWhite:hover {FONT:bold 10px Verdana; COLOR: #CCCBCB; line-height: 20px; TEXT-DECORATION: underline;}
a.headerWhite:active {FONT:bold 10px Verdana; COLOR: #ffffff; Bline-height: 20px; TEXT-DECORATION: underline;}

.headerBookmark {FONT:bold 10px Verdana; COLOR: #ffffff; line-height: 20px;}
a.headerBookmark:link {FONT:bold 10px Verdana; COLOR: #ffffff; line-height: 20px; TEXT-DECORATION: none;}
a.headerBookmark:visited {FONT:bold 10px Verdana; COLOR: #ffffff; line-height: 20px; TEXT-DECORATION: none;}
a.headerBookmark:hover {FONT:bold 10px Verdana; COLOR: #CCCBCB; line-height: 20px; TEXT-DECORATION: none;}
a.headerBookmark:active {FONT:bold 10px Verdana; COLOR: #ffffff; Bline-height: 20px; TEXT-DECORATION: none;}

.headerTechnical {FONT: 9px Verdana; COLOR: #001D55; line-height: 12px;}
a.headerTechnical:link {FONT: 9px Verdana; COLOR: #001D55; line-height: 12px; TEXT-DECORATION: underline;}
a.headerTechnical:visited {FONT: 9px Verdana; COLOR: #001D55; line-height: 12px; TEXT-DECORATION: underline;}
a.headerTechnical:hover {FONT: 9px Verdana; COLOR: #CCCBCB; line-height: 12px; TEXT-DECORATION: underline;}
a.headerTechnical:active {FONT: 9px Verdana; COLOR: #001D55; Bline-height: 12px; TEXT-DECORATION: underline;}

.headerborder { border: #ffffff 1px solid}
.headerborderRight { BORDER-RIGHT: #ffffff 1px solid;}
.headerborderTop { BORDER-TOP: #ffffff 1px solid;}
.headerborderTBL { BORDER-TOP: #ffffff 1px solid;BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid;}

.titlebarWhite {FONT:bold 10px Verdana; COLOR: #ffffff; line-height: 20px;}

.articleheader {FONT:bold 10px Verdana; COLOR: #003399; line-height: 20px;}
a.articleheader:link {FONT:bold 10px Verdana; COLOR: #003399; line-height: 20px; TEXT-DECORATION: none;}
a.articleheader:visited {FONT:bold 10px Verdana; COLOR: #003399; line-height: 20px; TEXT-DECORATION: none;}
a.articleheader:hover {FONT:bold 10px Verdana; COLOR: #CCCBCB; line-height: 20px; TEXT-DECORATION: none;}
a.articleheader:active {FONT:bold 10px Verdana; COLOR: #003399; Bline-height: 20px; TEXT-DECORATION: none;}

.catheader {FONT:bold 10px Verdana; COLOR: #000000; line-height: 20px;}

.siteborder { BORDER-RIGHT: #000000 1px solid; BORDER-LEFT: #000000 1px solid;  BORDER-TOP: #000000 1px solid; }
.siteborderend { BORDER-RIGHT: #000000 1px solid; BORDER-LEFT: #000000 1px solid;  BORDER-BOTTOM: #000000 1px solid; }

.normalText {FONT: 10px Verdana; COLOR: #333333; line-height: 12px;}
a.normalText:link {FONT: 10px Verdana; COLOR: #333333; line-height: 12px; TEXT-DECORATION: none;}
a.normalText:visited {FONT: 10px Verdana; COLOR: #333333; line-height: 12px; TEXT-DECORATION: none;}
a.normalText:hover {FONT: 10px Verdana; COLOR: #333333; line-height: 12px; TEXT-DECORATION: none;}
a.normalText:active {FONT: 10px Verdana; COLOR: #333333; Bline-height: 12px; TEXT-DECORATION: none;}

.normalHeader {FONT: bold 10px Verdana; COLOR: #003399; line-height: 12px;}
a.normalHeader:link {FONT: bold 10px Verdana; COLOR: #003399; line-height: 12px; TEXT-DECORATION: none;}
a.normalHeader:visited {FONT: bold 10px Verdana; COLOR: #003399; line-height: 12px; TEXT-DECORATION: none;}
a.normalHeader:hover {FONT: bold 10px Verdana; COLOR: #999999; line-height: 12px; TEXT-DECORATION: none;}
a.normalHeader:active {FONT: bold 10px Verdana; COLOR: #003399; Bline-height: 12px; TEXT-DECORATION: none;}

.normalHeaderblack {FONT: bold 10px Verdana; COLOR: #000000; line-height: 12px;}
a.normalHeaderblack:link {FONT: bold 10px Verdana; COLOR: #000000; line-height: 12px; TEXT-DECORATION: none;}
a.normalHeaderblack:visited {FONT: bold 10px Verdana; COLOR: #000000; line-height: 12px; TEXT-DECORATION: none;}
a.normalHeaderblack:hover {FONT: bold 10px Verdana; COLOR: #999999; line-height: 12px; TEXT-DECORATION: none;}
a.normalHeaderblack:active {FONT: bold 10px Verdana; COLOR: #000000; line-height: 12px; TEXT-DECORATION: none;}

.normalHeaderlblue {FONT: bold 10px Verdana; COLOR: #3A67BF; line-height: 12px;}
a.normalHeaderlblue:link {FONT: bold 10px Verdana; COLOR: #3A67BF; line-height: 12px; TEXT-DECORATION: none;}
a.normalHeaderlblue:visited {FONT: bold 10px Verdana; COLOR: #3A67BF; line-height: 12px; TEXT-DECORATION: none;}
a.normalHeaderlblue:hover {FONT: bold 10px Verdana; COLOR: #999999; line-height: 12px; TEXT-DECORATION: none;}
a.normalHeaderlblue:active {FONT: bold 10px Verdana; COLOR: #3A67BF; line-height: 12px; TEXT-DECORATION: none;}

.moreLink {FONT: bold 11px Verdana; COLOR: #2B3036; line-height: 14px;}
a.moreLink:link {FONT: bold 11px Verdana; COLOR: #2B3036; line-height: 14px; TEXT-DECORATION: underline;}
a.moreLink:visited {FONT: bold 11px Verdana; COLOR: #2B3036; line-height: 14px; TEXT-DECORATION: underline;}
a.moreLink:hover {FONT: bold 11px Verdana; COLOR: #999999; line-height: 14px; TEXT-DECORATION: underline;}
a.moreLink:active {FONT: bold 11px Verdana; COLOR: #2B3036; Bline-height: 14px; TEXT-DECORATION: underline;}

.titleheader {FONT: 22px Verdana; COLOR: #cccccc; line-height: 25px;}
.titleheader02 {FONT: 17px Verdana; COLOR: #969595; line-height: 18px;}
.titleheader03 {FONT: bold 13px Verdana; COLOR: #969595; line-height: 14px;}

.articleheader02 {FONT:bold 13px Arial; COLOR: #003399; line-height: 19px;}
a.articleheader02:link {FONT:bold 13px Arial; COLOR: #003399; line-height: 19px; TEXT-DECORATION: underline;}
a.articleheader02:visited {FONT:bold 13px Arial; COLOR: #003399; line-height: 19px; TEXT-DECORATION: underline;}
a.articleheader02:hover {FONT:bold 13px Arial; COLOR: #666666; line-height: 19px; TEXT-DECORATION: underline;}
a.articleheader02:active {FONT:bold 13px Arial; COLOR: #003399; Bline-height: 19px; TEXT-DECORATION: underline;}

.articleheader03 {FONT:bold 13px Arial; COLOR: #003399; line-height: 19px;}
a.articleheader03:link {FONT:bold 13px Arial; COLOR: #003399; line-height: 19px; TEXT-DECORATION: none;}
a.articleheader03:visited {FONT:bold 13px Arial; COLOR: #003399; line-height: 19px; TEXT-DECORATION: none;}
a.articleheader03:hover {FONT:bold 13px Arial; COLOR: #666666; line-height: 19px; TEXT-DECORATION: none;}
a.articleheader03:active {FONT:bold 13px Arial; COLOR: #003399; Bline-height: 19px; TEXT-DECORATION: none;}

.articleauthor {FONT:italic 11px Arial; COLOR: #003399; line-height: 14px;}
.articleauthor02 {FONT:italic 11px Arial; COLOR: #999999; line-height: 14px;}
.articletypedate {FONT: 11px Arial; COLOR: #657AA5; line-height: 14px;}

.articledesc {FONT: 11px Arial; COLOR: #000000; line-height: 14px;}
a.articledesc:link {FONT:bold 12px Arial; COLOR: #003399; line-height: 19px; TEXT-DECORATION: underline;}
a.articledesc:visited {FONT:bold 12px Arial; COLOR: #003399; line-height: 19px; TEXT-DECORATION: underline;}
a.articledesc:hover {FONT:bold 12px Arial; COLOR: #CCCBCB; line-height: 19px; TEXT-DECORATION: underline;}
a.articledesc:active {FONT:bold 12px Arial; COLOR: #003399; Bline-height: 19px; TEXT-DECORATION: underline;}

.iconHeader {FONT: bold 11px Verdana; COLOR: #001F56; line-height: 12px;}
a.iconHeader:link {FONT: bold 11px Verdana; COLOR: #001F56; line-height: 12px; TEXT-DECORATION: none;}
a.iconHeader:visited {FONT: bold 11px Verdana; COLOR: #001F56; line-height: 12px; TEXT-DECORATION: none;}
a.iconHeader:hover {FONT: bold 11px Verdana; COLOR: #6A6969; line-height: 12px; TEXT-DECORATION: none;}
a.iconHeader:active {FONT: bold 11px Verdana; COLOR: #001F56; Bline-height: 12px; TEXT-DECORATION: none;}

.arttitle {FONT:bold 13px Arial; COLOR: #000000; line-height: 19px;}
.artsubtitle {FONT:bold italic 12px Arial; COLOR: #001F56; line-height: 15px;}

.searchfield {FONT: 12px Arial; COLOR: #000000;}